/vendor
/node_modules
/public/img/covers
/public/img/multiple_frames
/public/img/posters
/public/img/settings
/public/img/sketches
/public/img/webtoons
/public/img/site/covers
Homestead.yaml
Homestead.json
.env
